html,
body {
  hyphens: auto;
  scroll-behavior: smooth;
  @apply bg-light antialiased;
}

body {
  overflow-y: scroll;
}

::selection {
  @apply bg-dark text-light;
}

.selection-inverted ::selection {
  @apply bg-light text-dark;
}

address {
  @apply block not-italic;
}
