html,
body {
  hyphens: auto;
  scroll-behavior: smooth;
  @apply bg-light antialiased;
}

::selection {
  @apply bg-dark text-light;
}

.selection-inverted ::selection {
  @apply bg-light text-dark;
}

address {
  @apply block not-italic;
}

small {
  font-size: inherit;
}

strong {
  font-weight: inherit;
}

.swiper-button-disabled {
  cursor: not-allowed;
}

/* Scrollbar */
* {
  scrollbar-color: theme("colors.dark") transparent;
  scrollbar-width: 0.5rem;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-full bg-clip-padding border border-transparent border-solid;
  background-color: theme("colors.dark");
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
}

.selection-inverted {
  & * {
    scrollbar-color: theme("colors.light") transparent;
  }

  & *::-webkit-scrollbar-thumb {
    background-color: theme("colors.light");
  }
}
