@font-face {
  font-family: "Brut Grotesque";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/Brut_Grotesque_WEB-Regular.woff2") format("woff2"),
    url("/fonts/Brut_Grotesque_WEB-Regular.woff") format("woff");
}

@font-face {
  font-family: "rzzaaa";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/Rza-Light.woff2") format("woff2"),
    url("/fonts/Rza-Light.woff") format("woff");
}
@font-face {
  font-family: "rzzaaa";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("/fonts/Rza-Black.woff2") format("woff2"),
    url("/fonts/Rza-Black.woff") format("woff");
}
