.root {
  & h4 {
    @apply text-16 md:text-20 2xl:text-25 leading-tight uppercase;
  }

  & h3 {
    margin-top: 2em;
  }

  & table {
    @apply w-full;

    & thead {
      display: none;
    }

    & td {
      @apply align-top;
    }

    & td + td {
      @apply align-bottom;
    }

    & td span {
      font-size: 70%;
    }
  }
}
