.root {
  /* Elements */
  & strong {
    @apply font-bold;
  }

  & a {
    @apply transition-colors duration-200;

    &:hover,
    &:focus-visible {
      @apply bg-dark text-light;
    }
  }

  /* TODO: disc outside */
  & ul {
    list-style: disc inside;
  }

  /* Spacing */
  & :is(p, address, ul, table, h2, h3, h4) {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  & :is(h2) {
    margin-top: 2em;
  }

  & li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  /* General */
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.inverted {
  & a {
    &:hover,
    &:focus-visible {
      @apply bg-light text-dark;
    }
  }
}
