.wrapper {
  @screen xl {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
}

.section {
  @screen xl {
    scroll-snap-align: start;
    height: 100vh;
  }
}

.scroller {
  height: 100%;
  overflow-y: auto;
}
